extends layout
block content
  div.header-menu
    a(href='/')
      div.header-left Twitter福笑い

  div.container
    div.top-wrapper
      h1.main-title Twitter福笑い
    div.message-wrapper
      p フォロワーさんたちに、選択したお題の福笑いを作ってもらいます！
      p どんな絵になるかな？？完成した絵をツイートすることもできます！
    div.btn-wrapper
      a(href="./login" ,class="btn fukuwarai-btn")
        span.far.fa-edit.icon-right
        | 福笑いを作る
